{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h4>What's Intelligent Diagnosis?</h4>
        <p>This is a model created to ease the lives of both patients and doctors. Those who stay at home and end up getting sick
        are prone to be stuck in a dilemma: should I take my chances staying at home or going to the hospital? In a time like this,
        doctors are essential in taking quick and virtual action. Unfortunately, that generally isn't the case with the lengthy
        times required for each diagnosis. Our model revolves around the idea of having an AI bot <em>diagnoBot</em> asking
        all the right questions to patients and summarizing said data into a form of a report. This report is then sent to the doctor
        who can quickly diagnosis the patient along with any additional notes. A fast yet effective method to keep yourself safe
        from the comfort of your home.</p>
    </div>
    <div class="content-section">
        <h4>How do I Navigate the Site?</h4>
        <p>You can start off by registering an account as either a patient or a doctor. Then, go to your respective tabs
        and select what action you would like to perform: for a patient, you could fill in prediagnosis details using diagnoBot, while
        doctors can look into their dashboards for received reports from patients.</p>
    </div>
    <div class="content-section">
        <h4>What are the Upcoming Updates to the Site?</h4>
        <p>We are eventually looking forward to creating predictive analysis models that offer suggestions to doctors based off
        previous records of a patient. This key insight would be extremely useful in speeding up the doctor's diagnosis process.
        We are also looking towards increasing diagnoBot's dataset and making it more versatile when handling patients.</p>
    </div>
{% endblock content %}